/* Apply styles to the entire body */
body {
    font-family: 'Calibri', sans-serif;
    background-color: #f5f5f5; /* Light gray background */
    color: #333; /* Dark gray text color */
}

/* Apply styles to the header */
h1 {
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    color: #2F334C; /* Title color */
    margin-bottom: 30px; /* Add some space below the title */
}

.my-dropdown .Select-control {
    background-color: #B6C8CE !important;
    color: #2F334C !important;
}

.my-dropdown .Select-value-label {
    color: #2F334C !important;
}
.slider1 .rc-slider-handle {
    background-color: #476F85 !important;
    border-color: #476F85 !important;
}

.slider1 .rc-slider-track {
    background-color: #91ACB6 !important;
}

.slider1 .rc-slider-mark-text {
    color: #2F334C !important;
}

.slider2 .rc-slider-handle {
    background-color: #476F85 !important;
    border-color: #476F85 !important;
}

.slider2 .rc-slider-track {
    background-color: #91ACB6 !important;
}

.slider2 .rc-slider-mark-text {
    color: #2F334C !important;
}

.slider3 .rc-slider-handle {
    background-color: #476F85 !important;
    border-color: #476F85 !important;
}

.slider3 .rc-slider-track {
    background-color: #91ACB6 !important;
}

.slider3 .rc-slider-mark-text {
    color: #2F334C !important;
}

.radio {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    margin-left: 5px;
}

.radio label {
    font-size: 20px; /* Adjust the size of the label text */
    margin-right: 10px;
    cursor: pointer;
    color: #2F334C;
    
}
